snippet ctrl "Replication Controller" !b
apiVersion: v1
kind: ReplicationController
metadata:
	name: ${1:some-controller}
	labels:
		app: $1
		tier: ${2:backend}
spec:
	replicas: 1
	template:
		metadata:
			labels:
				app: $1
				tier: $2
			spec:
				containers:
				- name: ${3:name}
					image: ${4:nginx}
					resources:
						requests:
							cpu: 100m
							memory: 100Mi
					ports:
					- containerPort: 8080
endsnippet
